.dashboard {
  display: grid;
  grid-template-columns: max-content auto;
  min-height: calc(100vh - 106px);
  background-color: var(--gray-37);
}

/* Dashboard Nav*/
.dash-nav {
  background-color: var(--primary-1);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dash-nav div {
  display: flex;
  justify-content: center;
}

.dash-nav-link {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid var(--primary-2);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bottom-link {
  border-bottom: none;
  border-top: 1px solid var(--primary-2);
}

.dash-nav-link:hover {
  background-color: var(--test);
}

/* Dashboard Cards */
.dashboard-content {
  width: 100%;
  padding: 10px;
  gap: 20px;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
}

.employee-view {
  grid-column: span 2;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.employee-card-title {
  width: 100%;
  color: var(--primary-1);
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  border: 1px solid var(--gray-30);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--primary-9);
  position: relative;
}

.dashboard-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-9);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--gray-30);
}

.dashboard-card-title {
  width: 100%;
  color: var(--primary-1);
  font-size: 1.7rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid var(--gray-30);
  padding: 10px;
  position: relative;
}

.dshbrd-fields-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  column-gap: 20px;
}

.dshbrd-fields {
  width: 90%;
  display: flex;
  padding: 2px;
  align-items: flex-end;
}
.dshbrd-fields-label {
  color: var(--primary-1);
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 5px;
}
.dshbrd-fields-data {
  color: var(--primary-1);
  font-size: 1.3rem;
  font-weight: 400;
}
/* Card Field Empty*/
.no-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  gap: 10px;
  padding: 20px;
  color: var(--primary-1);
}
.no-data a {
  color: var(--primary-1);
  font-weight: 600;
  text-decoration: none;
}
.no-data a:hover {
  color: var(--primary-5);
}
.disclaimer {
  font-size: 18px;
  text-align: center;
}

.employee-no-data {
  height: 100%;
  background-color: var(--primary-9);
  border: 1px solid var(--gray-30);
  border-radius: 10px;
}

/* Card Edit button */
.dashboard-edit-ctnr {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.dashboard-edit-link {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  font-size: 20px;
  line-height: 20px;
  color: var(--primary-1);
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dashboard-edit-link i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 2px solid var(--primary-1);
  padding: 3px;
  font-size: 18px;
  border-radius: 50%;
}

.dashboard-edit-link:hover,
.dashboard-edit-link:hover > i {
  color: var(--primary-5);
  border-color: var(--primary-5);
}

/* Org Edit Elements*/
.dshbrd-fields-data-input {
  height: auto;
  background-color: transparent;
  border: 0;
  font-size: 1.3rem;
  font-weight: 400;
  border-bottom: 1px solid var(--gray-25);
  padding: 0;
  margin: 0;
}

.dshbrd-fields-data-input:focus {
  outline: 0;
}

.dshbrd-fields-data-input-title {
  height: auto;
  background-color: transparent;
  border: 0;
  font-size: 1.7rem;
  font-weight: 600;
  border-bottom: 1px solid var(--gray-25);
  padding: 0;
  margin: 0;
}

.dshbrd-fields-data-input-title:focus {
  outline: 0;
}

.del-org-btn {
  position: absolute;
  top: 25%;
  right: 0;
  transform: translate(0% -50%);
  color: var(--error);
}
.delete-msg {
  padding-top: 10px;
  font-weight: 600;
  color: var(--error);
}
