.landing-img {
  display: flex;
  height: max-content;
  width: 100%;
}
.landing-img img {
  width: 100%;
  height: auto;
  overflow: auto;
  overflow-clip-margin: 0px;
}
.landing-ctnr {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--primary-3);
}

.landing-ctnr > div {
  width: 100%;
  min-height: 100px;
}

/* Landing Product description */
.landing-header {
  width: 100%;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-9);
  background-color: var(--primary-1);
  padding: 10px;
}

.landing-prod-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
  background-color: var(--gray-37);
}
.landing-card {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--gray-30);
}
.landing-card-header {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-1);
  border-bottom: 1px solid var(--gray-33);
  padding-bottom: 10px;
}
.landing-card-desc {
  width: 80%;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0px 0px 0px;
}
.landing-card-desc > span {
  display: block;
  padding: 10px 20px;
}
.landing-card-desc strong {
  color: var(--primary-1);
}
