.auth-ctnr {
  min-height: calc(100vh - 106px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-35);
}

.auth {
  height: 100%;
  width: 35%;
  padding: 3rem 5rem;
  background-color: var(--primary-2);
  color: var(--primary-9);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth h2 {
  font-size: 36px;
  margin: 10px 0px 30px 0px;
}

.auth-icon {
  height: 128px;
  width: 128px;
}

.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.form-field:nth-child(3) {
  grid-column: span 2;
}
.form-field:nth-child(6) {
  grid-column: span 2;
}

.form-field {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}
.fl-name {
  flex-direction: row;
}
.fl-name div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  border: 1px solid var(--error);
  color: var(--error);
}
.error::placeholder {
  color: var(--error);
}
.no-error::placeholder {
  color: var(--primary-3);
}
.no-error {
  border: 1px solid var(--primary-1);
}

.form-field input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: 0;
  font-size: 16px;
}
.submit input {
  background-color: var(--primary-9);
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-1);
  margin-top: 20px;
  border: none;
}
.submit input:hover {
  background-color: var(--primary-8);
}

.auth p a {
  color: var(--primary-4);
}
.auth p a:hover {
  color: var(--primary-3);
}
