.footer {
  position: relative;
  display: block;
  bottom: 0;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 20px;
  border-top: 1px solid var(--secondary);
  box-sizing: border-box;
}
.footer-copy {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 3px 0px;
  color: var(--secondary);
  padding: 15px 20px;
}
.footer-social {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  padding: 10px 20px;
}
