.navbar {
  display: flex;
  background-color: var(--dark-4);
  position: sticky;
  top: 0;
  color: white;
  z-index: 2;
}
.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.nav-links {
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left: auto;
  margin-right: 10px;
}
.nav-links a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 30px 20px;
}

.nav-links a:hover {
  color: var(--light-1);
  cursor: pointer;
}
