.navbar {
  display: flex;
  height: 60px;
  background-color: var(--dark-4);
  position: sticky;
  top: 0;
  color: white;
}
.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.nav-links {
  height: 60px;
  width: 30%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.nav-links div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links div {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.nav-links div:hover {
  background-color: var(--dark-3);
}
